header li {
	padding-top: 2px;
	padding-left: 20px;
	position: relative;
	left: 1350px;
	display: inline;
}

.signbutton {
	margin-left: 20px;
	padding: 8px 14px 8px 14px;
	font-size: 12px;
	border-style: none;
	background-color: #4486F7;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

.logo {
	position: relative;
	margin-top: 195px;
	margin-left: 691px;
	width: 272px;

}

.searchbox {
	margin-top: 30px;
	height: 150px;
}

.box {
	padding-left: 550px;
}

input {
	line-height: 35px;
	font-size: 16px;
}

.buttons {
	margin-top: 30px;
	margin-left: 691px;
}

.searchbutton {
	padding: 12px 14px 12px 14px;
	font-size: 14px;
	font-family: Arial;
	color: gray;
	font-weight: bold;
	background-color: #F4F4F4;
	border-radius: 5px;
	border-style: none;
}

footer {
	margin-top: 360px;
}

footer ul li {
	display: inline;
}

.lfooter {
	float: left;
}

.rfooter {
	float: right;
}
